:root {
    --black: rgb(0, 0, 0);
}

* {    
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.header  {
    display: flex;
    background-color: var(--black);
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}*/

.headerContainer .neonText {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    animation: flicker 1.5s infinite alternate;
}
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 9px #90cccc,
      0 0 10px #90cccc,
      0 0 11px #90cccc,
      0 0 12px #90cccc,
      0 0 13px #90cccc;
    }
    10%, 15%, 25% {       
      text-shadow: none;
    }
}

/*.header nav ul {
    display: flex;
    height: 23px;
}

.header li { 
    list-style: none;
    margin-right: 10px;
    border-bottom: 3px #90cccc;
    display: inline;
    height: 100%;
    color: #90cccc;
    cursor: pointer;
}

.header li { 
    text-decoration: none;
    color: inherit;
}

a {
    color: #90cccc;
    text-decoration: underline;
}
*/
.headerList {
    display: flex;
}



p {
    font-size: 30px;
    float: right;
    margin-right: 0px;
}

.header2  {
    height: 170px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/lff-binary-code-header.jpeg");
    background-size: cover;
    background-position: center;
}

.content   {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 30px;
}

.container h2 {
    font-size: 25px;
    border-right: 3px #fff;
    animation: flicker 1.5s infinite alternate;
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 12px #90cccc,
      0 0 20px #90cccc,
      0 0 31px #90cccc,
      0 0 43px #90cccc,
      0 0 52px #90cccc;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
}

p {
    font-size: 20px;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}

.workContainer h2 {
    font-size: 25px;
    animation: flicker 1.5s infinite alternate;
  }
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 12px #90cccc,
      0 0 20px #90cccc,
      0 0 31px #90cccc,
      0 0 43px #90cccc,
      0 0 52px #90cccc;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}

.contactContainer h2 {
    font-size: 25px;
    animation: flicker 1.5s infinite alternate;
  }
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 12px #90cccc,
      0 0 20px #90cccc,
      0 0 31px #90cccc,
      0 0 43px #90cccc,
      0 0 52px #90cccc;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
}


.contact-me nav {
    padding-bottom: 15px;
    margin-right: auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contact-me nav ul {
    list-style-type: none;
}

.contact-me nav ul li { 
    display: inline-block;
    margin-left: 0;
}

