* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eeeff4;
}

.header  {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #31343d;
    color: #31343d;
}

.header .box {
    background-color: #90cccc;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px;
} 

.header h1 {
    display: inline-block;
    font-size: 30px;
} 

.header nav {
    padding-top: 15px;
    margin: auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li { 
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #90cccc;
    text-decoration: underline;
}

p {
    font-size: 30px;
}

.header2  {
    height: 170px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/lff-binary-code-header.jpeg");
    background-size: cover;
    background-position: center;
}

.content   {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #49596f;
    font-size: 30px;
    
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #49596f;
    font-size: 30px;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #49596f;
    font-size: 30px;
}
.contact-me nav {
    padding-bottom: 15px;
    margin-right: auto;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.contact-me nav ul {
    list-style-type: none;
}

.contact-me nav ul li { 
    display: inline-block;
    margin-left: 0;
}

