:root { 
    --black: #040b0b;
    --darknavy: #242832;
    --darkteal: #0b3e55;
    --teal: #2db0de;
    --lightteal: #115779;
    --font1: Arial, Helvetica, sans-serif;
}

* {    
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: var(--black);
}

header h1 {
    padding: 20px;
}

header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
    color: var(--lightteal);
}


.headerList {
    display: flex; 
}
.headerList div {
    padding: 20px;
    font-size: 20px;
} 

.header-image  {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/lff-binary-code-header.jpeg");
    background-size: cover;
    background-position: center;
} 

.header-image div {
    display: flex;
}

.about-me {
    margin-bottom: 20px;
    padding:40px;
    height: 200px;
    font-family: var(--font1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--lightteal);
    font-size: 30px;
}

.about-me div {
    display: flex;
    
}



.work-section {
    color: var(--lightteal);
    font-family: var(--font1);
    font-size: 30px;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.flex-item {
    border: 5px solid var(--lightteal);
    background-color: var(--teal);
    color: var(--lightteal);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .work-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: var(--font1);
    color: var(--lightteal);
    font-size: 25px;
} */

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: var(--font1);
    color: var(--lightteal);
    font-size: 25px;
}

.contactMe  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    font-family: var(--font1);
    font-size: 20px;
}

.contactMe div {
   display: flex;
} 